<h1 style="color: #5e9ca0;">Extra variables using Jinja template</h1>
<h2 style="color: #2e6c80;">Provisioned by {{ student_name }} using Ansible on the {{ ansible_facts['hostname'] }} host</h2>
<h2 style="color: #2e6c80;">This page version is {{ version }}</h2>
<p>
  Edit <strong>templates/index.html.j2</strong> file and rerun the Job.
</p>
